.gridPanelAbajo{
    grid-template-columns: 10% 10% 10% 10% ;
    grid-template-rows: 100% ;
    display: grid;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    column-gap: 0;
    margin-left: 30%;

}

.div_carrito{
    width: 100%;
    column-gap: 0;
    
    margin: auto;
}

.div_home{
    width: 100%;
    column-gap: 0;
    
    margin: auto;
}

.div_ofertas{
    width: 100%;
    column-gap: 0;
    
    margin: auto;
}

.div_cuenta{
    width: 100%;
    column-gap: 0;
  
    margin: auto;
}

.contenedor_grid_inferior{
    position: fixed;
    width: 100%;
    height: 20%;
   bottom: 0;
    
    
   
    
}

.gridPanelBuscador{
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    display: grid;
}

.elemento1_divtextAreaBuscador{
  
    width: 90%;
    height: 70%;
    background: transparent;
   
    margin: auto;
    
}
.textareaBuscar{
width: 100%;
height: 65%;
font-size: 25px;
resize: none;

}

.elemento2_filtrodiv{
    width: 100%;
    height: 50%;
    
}

body{
    height: 100vh;
}

.elemento2_filtrodiv{
    width: 100%;
    height: 40%;
    margin-top:3%;
    text-align: left;
}

.comboboxFiltro{
    height: 100%;
    width: 40%;
}

img{
   margin: 0;
}
.buttonIcono{
    margin: 0;
    border: none;
    background: white;
}
button{
   width: 8%;
   height: 70%;
   margin: auto;
    border-radius: 60px;
    background: #00B1F0;
    border: none;
    color: white;
}

.divBotonNuevoProducto{
    width: 100%;
    height: 20%;
    
    
    text-align: center;
}

.agregar_producto{
    font-size: 40px;
}