body{
    background-color:#FCF4DB}
.grid{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100vh;/*TODA LA ALTURA DE LA VENTANA*/
    
}

.item{
    
    width: 100%;
    height: 100vh;
    text-align:center;
    border: black 5px;

}

.item-2{
    color: rgb(90, 87, 87);
    
}
    
    
}
h1{
   text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



.contenedor_form{
padding-top: 7%;
padding-left: 5%;    
background: rgb(255, 255, 255);
border-radius: 14%;
height: 50%;
width: 60%;
margin-left: 20%;
margin-top: 1%;

  
}






.labels{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.grid_formulario{
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 50% 50%  ;
row-gap: 20%;
column-gap: 2%;
 
}






.div_botones{
    margin-top: 10%;
    text-align: center;
}
 .textarea{
    width: 90%;
    height: 50%;
    font-size: 20px;
    resize: none;
 }



.btn_ingresar{
    padding: 10px;
    margin: auto;
    height: 100%;
    width: 28%;
    background: #2F9D94;
    color: rgb(255, 255, 255);
    font-size:24px;
    border-radius: 6px;
   
}

.btn_reestablecer{
    padding: 10px;
    margin: auto;
    height: 100%;
    width: 38%;
    background: rgb(234, 7, 7);
    color: rgb(255, 255, 255);
    font-size:24px;
    border-radius: 6px;
}

.pOlvido{
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
}

.TITULOSESION{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: rgb(90, 87, 87);
    text-align: center;
    
    
}

.TITULOBAZAR{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
   color:  #f4fafa;
    text-align: center;
    font-weight: bold   ;
    text-shadow: 
    -3px -3px 0 black,
     3px -3px 0 black,
    -3px  3px 0 black,
     3px  3px 0 black; /* Sombra para crear el borde muy engrosado */
}

img{
    width: 80%;
}